<html ng-app="watchApp">
<head>
	<title>watch</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="particles.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
</head>
<body>
	<section ng-controller="watchCtrl">
		<span class="time">{{time}}</span>
		<span class="sec">{{sec}}</span>
		<span class="AmPm">{{AmPm}}</span> 
		<span class="date">{{date}}</span> 
		<span class="day">{{day}}</span>
	</section>
	
	<div class="watch"></div>
	<div id="particles-js"></div>
	
	<div class="weather" ng-controller="weatherCtrl">
		{{temp}}/{{summary}}/Wind: {{wind}} <span class="small">{{city}}</span>
	</div>

	<div class="news" ng-controller="newsCtrl">
		<div>
			<a class="categories even" ng-click="getHackNews()">hackerNews</a><a class="categories odd" ng-click="getDesignNews()">designNews</a><a class="categories even" ng-click="getDigg()">digg</a><a class='categories' ng-repeat="category in categories" ng-click="getCatNews(category.category_id)" ng-class-even="'even'" ng-class-odd="'odd'">{{category.english_category_name}} </a>
		</div>
		<div ng-repeat="item in news" ng-class-even="'even'" ng-class-odd="'odd'">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle">
			  <polygon points="0,0 100,0 50,100"/>
			</svg>
			<a ng-if="item.summary" ng-href="{{item.url}}" target="_blank"><h2>{{item.title}}</h2>
			<p>{{item.summary}}</p></a>
			<a ng-if="item.content" ng-href="{{item.link}}" target="_blank"><h2>{{item.title}}</h2>
			<p ng-hide="!dontDisplay">{{item.content}}</p></a>
		</div>
	</div>

	<br>
	<a href="geo:0,0?q=Small+Batch+Beer+Co.,+241+W+5th+St,+Winston-Salem,+NC+27101">Directions(android)</a><br>
	<a href="http://maps.apple.com/?q=Small Batch Beer Co., 241 W 5th St, Winston-Salem, NC 27101">Directions(ios)</a>
	<script src="app.js"></script>
	<script src="app.js"></script>
</body>
</html>