@font-face {
	font-family: 'digital-7';
	src: url('digital-7/digital-7.ttf');
}

body {
	font-family: 'digital-7', sans-serif;
	background: transparent;
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

.watch {
	z-index: 2;
	background: url("watchBlank.png") no-repeat center center;
	position: fixed;
	height: 600px;
	width: 550px;
}

.AmPm {
	z-index: 3;
	top: 240px;
	left: 136px;
	position: fixed;
	font-size: 27px;
	font-weight: bold;
}

.day {
	z-index: 3;
	top: 220px;
	left: 216px;
	position: fixed;
	font-size: 40px;
	font-weight: bold;
}

.date {
	z-index: 3;
	left: 345px;
	top: 215px;
	position: fixed;
	font-size: 45px;
	letter-spacing: 3px;
	font-weight: 600;
}

.time {
	z-index: 3;
	top: 275px;
	left: 155px;
	position: fixed;
	letter-spacing: 3px;
	font-size: 77px;
	font-weight: 600;
}

.sec {
	z-index: 3;
	left: 340px;
	top: 294px;
	position: fixed;
	letter-spacing: 3px;
	font-size: 45px;
	font-weight: 600;
}

canvas{
	z-index: 1;
	position: absolute;
	display:block;
	vertical-align:bottom;
}

#particles-js{
  height: 610px;
  /*background:#b61924*/
}

.weather {
	z-index: 5;
	position: absolute;
	background: white;
	/*margin: 35px 0 50px 110px;*/
	font-size: 45px;
}

.news {
	z-index: 4;
	position: absolute;
	margin-top: 40px;
	background: white;
	font-family: helvetica;
}

.news div {
	margin-bottom: 40px;
}

.even {
	background: #BAF4DB;
}